{% extends "basic.html" %}

{% block main %}
		<h1>EntrezAJAX</h1>
		<h2>Implementation</h2>
		<p>
			EntrezAJAX is built in Python with <a href="http://www.djangoproject.com/">Django</a>
			and <a href="http://www.biopython.org">BioPython</a>.
		</p>
		<p>
			EntrezAJAX is hosted on <a href="http://code.google.com/appengine/">Google App Engine</a>.
		</p>
		<p>
			To integrate later versions of Django with Google App Engine we employ the
			<a href="http://code.google.com/p/google-app-engine-django/">google-app-engine-django</a> helper.
		</p>
		<p>
			Source code for EntrezAJAX is hosted on <a href="http://github.com/nickloman/entrezajax">GitHub</a>.
		</p>
{% endblock %}
