{% extends "basic.html" %}

{% block main %}
		<h1>Entrez-AJAX</h1>
		<h2>An AJAX endpoint for NCBI's Entrez service</h2>
		<p>
			Entrez-AJAX provides an interface which returns JSON data from
			the NCBI Entrez service which can be accessed by a web browser
			directly. The interface can circumvent web browsers'
			<a href="http://en.wikipedia.org/wiki/Same_origin_policy">same origin policies</a>
			by supporting
			<a href="http://en.wikipedia.org/wiki/JSON#JSONP">JSONP</a>. Read
			the <a href="http://pathogenomics.bham.ac.uk/blog/2010/04/entrez-ajax-a-restful-api-for-bioinformatics-web-app-developers/">initial announcement</a>.
		</p>
		<h2>What can it be used for?</h2>
		<p>
			The possibilities are unlimited, but to whet your appetite:
		</p>
		<ul>
			<li><a href="examples/esearch+esummary.html">publication lists on your group website</a>
			<li><a href="examples/espell.html">correct spelling in user-submitted data</a>
			<li><a href="examples/elink.html">find related articles</a>
		</ul>
		<h2>How do I use it?</h2>
		<p>
			If you are developing a website that needs access to NCBI Entrez
			via AJAX then please <a href="{% url register %}">register for
			an API key</a> and then <a href="/developer.html">read the API documentation.</a>
		</p>
		<h2>How does it work?</h2>
		<p>
			If you are interested in deploying a similar service or are
			just curious how it works, please read the
			<a href="/implementation.html">implementation details</a>.
		</p>
		<h2>Contact</h2>
		<p>
			Contact <a href="mailto:n.j.loman@bham.ac.uk">Nick Loman</a> for
			more information.
		</p>
{% endblock %}
